<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="css/resetPassword.css" />
  </head>

  <body class="body">
    <!-- Nav bar -->
    <nav class="nav">
      <div class="nav-container">
        <a class="nav-brand" href="#"
          ><img src="/images/logo.jpg" alt="brand-image" class="nav-logo"
        /></a>
        <h2><span class="text-danger">Expense</span> Tracker</h2>
        <button class="nav-toggle" id="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div class="nav-links" id="nav-links">
          <ul>
            <li><a href="/home" class="nav-link">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Reset your password</h2>
        </div>
        <div class="card-body">
          <form id="resetpasswordform">
            <div class="form-group">
              <label for="password"
                ><i class="fas fa-lock"></i> New Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your new password"
                required
              />
            </div>
            <div class="form-group">
              <label for="confirm-password"
                ><i class="fas fa-lock"></i> Confirm Password</label
              >
              <input
                type="password"
                id="confirm-password"
                name="confirm-password"
                placeholder="Re-enter your new password"
                required
              />
            </div>
            <div class="form-group">
              <button type="submit" id="submitbtn">Reset Password</button>
            </div>
            <div class="alert alert-warning" id="passwordDiv">
              <strong>Holy guacamole!</strong> both password should be same.
              <button type="button" class="alert-close" id="passwordDivClose">
                &times;
              </button>
            </div>
            <div class="alert alert-success" id="successDiv">
              <strong>Holy guacamole!</strong> password successfuly reset.
              <button type="button" class="alert-close" id="successDivClose">
                &times;
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2025 Sagar Tech. All rights reserved.</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/resetPassword.js"></script>
  </body>
</html>
